<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix"	default=""/>
  <arg name="manager"		default=""/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"	default="$(dirname
					 )/../yolo_network_config/weights"/>
  <arg name="yolo_config_path"	default="$(dirname
					 )/../yolo_network_config/cfg"/>

  <!-- ROS and network parameter files -->
  <arg name="ros_param_file"	 default="$(dirname)/../config/ros.yaml"/>
  <arg name="network_param_file" default="$(dirname)/../config/yolov4.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node if="$(eval manager == '')"
	name="darknet_ros" pkg="darknet_ros" type="darknet_ros"
	output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path"	value="$(arg yolo_weights_path)" />
    <param name="config_path"	value="$(arg yolo_config_path)" />
    <rosparam file="$(arg ros_param_file)"/>
    <rosparam file="$(arg network_param_file)"/>
  </node>
  
  <node unless="$(eval manager == '')"
	name="darknet_ros" pkg ="nodelet" type="nodelet" output="screen"
  	args="load darknet_ros/darknet_ros_nodelet $(arg manager)">
    <param name="weights_path"	value="$(arg yolo_weights_path)" />
    <param name="config_path"	value="$(arg yolo_config_path)" />
    <rosparam file="$(arg ros_param_file)"/>
    <rosparam file="$(arg network_param_file)"/>
  </node>
  
 <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->

</launch>
